{% extends "wagtailadmin/base.html" %}
{% load i18n %}

{% block titletag %}{% translate "Change password" %}{% endblock %}

{% block content %}
  <main class="nice-padding" id="main">
    <h1>{% translate "Change password" %}</h1>
    <p>{% translate "Your password must be changed before you can continue." %}</p>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
        <div class="field-content">
          {{ field.label_tag }}
          {{ field }}
          {{ field.errors }}
          {% if field.help_text %}<p class="help">{{ field.help_text }}</p>{% endif %}
        </div>
      {% endfor %}
      <button class="button" type="submit">{% translate "Save new password" %}</button>
    </form>
    <form action="{% url 'wagtailadmin_logout' %}" method="post">
      {% csrf_token %}
      <button class="button button-secondary" type="submit">{% translate "Sign out" %}</button>
    </form>
  </main>
{% endblock %}
